* {
	box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.gallery {
    display: grid;
    margin: 45px auto;
    margin-top: 25px;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
}
.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input {
 flex-basis: 500px;
 height: 45px;
}